<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="wrapper h-screen w-screen bg-zinc-600">
        <div class="h-[40vh] w-[20vw] bg-orange-600">
            
        </div>
    </div>
</body>
</html>